body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Leaderboard styling */
  #leaderboard {
    width: 90%;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  #leaderboard div {
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
  }
  
  #leaderboard div:hover {
    background-color: #e3e3e3;
  }
  
  /* Form styling */
  form {
    margin-top: 20px;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  input, button {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input:focus, button:focus {
    outline: none;
    border-color: #333;
  }
  
  input {
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:active {
    background-color: #3e8e41;
  }

  /* Styling for the +1 button */
  #leaderboard button {
    background-color: #f7604f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    font-family:monospace;
    transition: background-color 0.3s ease;
  }

  
  